.wrapper{
  height: calc(100% - 110px);
  width:100%;
  background-color: lemonchiffon;
}
// search機能
.searchBox{
  height: 80px;
  width:100%;
}




// tweet内容
.main{
  height: 100%;
  width: 100%;
  background-color: rebeccapurple;
  overflow: scroll;
  display: flex;
  justify-content: center;
  &__content{
    height:300px;
    width:60%;
    background-color: rosybrown;
    display: flex;
    &__top-image{
      position: relative;
      height: 100%;
      width:70px;
      background-color: seagreen;
      &__icon{
        height:50px;
        width:50px;
        background-color: royalblue;
        margin-top: 10px;
        margin-left: 10px;
        position: absolute;
      }
    }
  &__box{
    position: relative;
    height: 100%;
    width: calc(100% - 150px);
    background-color: saddlebrown;
    &__image{
      height: 70%;
      width: 100%;
      background-color: seashell;
      &__choice{
        height: 100%;
        width:60%;
        background-color: skyblue;
      }
    }
    &__text{
      height: 30%;
      width:100%;
      background-color: silver;
      &__name{
        height: 20px;
        width: 120px;
        background-color: steelblue;
      }
      &__message{
        height: calc(100% - 20px);
        width: 100%;
        background-color: tan;
      }
    }
  }
  &__btns{
    height: 100%;
    width: 80px;
    background-color: springgreen;
  }
  }
}