.show-contents__box__return{
  height: 60px;
  width:60px;
  position: absolute;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 30px;
  .my-retrun{
    color: #000080;
  }
}

.show-contents{
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  &__box{
    height: 600px;
    width: 500px;
    background-color: whitesmoke;
    &__main{
      height: 320px;
      width: 100%;
      display: flex;
      justify-content: center;
      &__images{
        height: 300px;
        width: 400px;
        margin-top: 20px;
        .message__image__images__main{
          height: 220px;
          width: 300px;
          margin:  0 auto;
          .image-main{
            height: 100%;
            width:100%;
            background-size: cover;
          }
        }
        .message__image__images__subs{
          height: 80px;
          width: 100%;
          background-color:white;
          display: flex;
          margin-top: 10px;
          &__thumb{
            height: 80px;
            width: 33%;
            .image_subs{
              height: 100%;
              width: 100%;
              }
            }
            &__thumb.active{
              opacity: 0.6;
            }
          }
        }
      }
      &__text{
        height: 260px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__content{
          height: 160px;
          width: 400px;
          opacity: 0.8;
          overflow: scroll;
          background-color:white;
          &__memo{
            height: 40px;
            width: 100%;
            padding-left: 20px;
            line-height: 40px;
            color: gray;
            font-size: 16px;
            font-weight: bold;
          }
          &__detail{
            height: max-content;
            width: 360px;
            margin: 0 auto;
            font-weight: bold;
          }
        }
      }
    }
  }
// コメント機能
.container{
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .text_area{
    height: 80px;
    width: 100%;
    #comment_text{
      width: 400px;
    }
  }
  .send_btn{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .form__submit{
      display       : inline-block;
      border-radius : 5%;
      font-size     : 18pt;
      text-align    : center; 
      cursor        : pointer;
      padding       : 0px 69px;
      background    : rgba(26, 26, 255, 0.87);
      color         : #ffffff;
      line-height   : 1em;
      transition    : .3s;  
      border        : 2px solid rgba(26, 26, 255, 0.87);
    }
    .form__submit:hover {
      color         : rgba(26, 26, 255, 0.87);
      background    : #ffffff;
    }
  }
}
.comments{
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  &__text{
    overflow: scroll;
    height: max-content;
    min-height: 50px;
    max-height: 140px;
    width: 400px;
    background-color:whitesmoke;
    border:solid 2px gray;
    .strong__name{
      font-weight: bold;
      color: #DAA520;
    }
  }

}
