<section class="appBanner">
<div class="inner">
<h2 class="inner__title">あなたの愛車をシェアしよう</h2>
<p class="inner__text">クルマを通じて、新たな発見</p>
<div class="content_btn_bottom">
<a class="Btn" href="#"><img src="http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"></a>
<a class="Btn" href="#"><img src="http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"></a>
</div>
</div>
</section>