<div class="footer">
  <div class="footer__box"></div>
  <div class="footer__box__btn">
    <%= link_to(new_tweet_path) do %>
      <i class="fas fa-plus-circle fa-5x my-white faa-flash animated-hover"></i>
    <%end%>
  </div>
</div>