<div class="footer">
  <div class="footer__box"></div>
  <div class="footer__box__btn">
    <%= link_to("#") do %>
      <i class="fas fa-plus-circle fa-5x my-white faa-tada animated-hover"></i>
    <%end%>
  </div>
</div>