<div class="wrapper"> 
  <div class="searchBox">
    <div class="searchBox__icon">
    </div>
  </div>
  <div class="main">
    <div class="main__content">
      <div class="main__content__top-image">
        <div class="main__content__top-image__icon"></div>
      </div>
      <div class="main__content__box">
        <div class="main__content__box__image">
          <div class="main__content__box__image__choice"></div>
        </div>
        <div class="main__content__box__text">
          <div class="main__content__box__text__name"></div>
          <div class="main__content__box__text__message"></div>
        </div>
      </div>
      <div class="main__content__btns">
        <div class="main__content__btns__follower"></div>
        <div class="main__content__btns__favorite"></div>
      </div>
    </div>
  </div>
</div>
<%=render partial:"footer"%>