<div class="show-contents__box__return">
  <%= link_to root_path do%>
    <i class="far fa-window-close fa-3x my-retrun"></i>
  <% end %>
</div>

<div class="show-contents">
  <div class="show-contents__box">
    <div class="show-contents__box__main">
      <div class="show-contents__box__main__images">
        <div class="message__image__images__main">
          <%= image_tag @first_image.image.url, class: "image-main" %>
        </div>
        <div class="message__image__images__subs">
          <% @images.each do |image|%>
          <div class="message__image__images__subs__thumb">
            <%= image_tag "#{image.image}",class: "image_subs"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="show-contents__box__text">
      <div class="show-contents__box__text__content">
        <div class="show-contents__box__text__content__memo">
          <p>MEMO:</p>
        </div>
        <div class="show-contents__box__text__content__detail">
          <%= @tweets.body%>
        </div>
      </div>
    </div>
  </div>
</div>